<div class="container pt-5">
    <h2 class="pb-2">My rentals</h2>
    <div class="row justify-content-center">
<div class="col-12 col-md-6 col-lg-5">
<%  if current_user %>
  <% @bookings.each do |booking| %>
<div class="card-product">
<% if booking.product.photo.attached? %>
        <%= cl_image_tag booking.product.photo.key, :radius => 10, class:"img" %>
        <% else %>
        <%= image_tag "landing_page.jpeg", :radius => 10, class: "img"%>
<% end %>
<div class="card-product-infos">
  <p>Start date: <%= booking.start_date %></p>
  <p>Message: <%= booking.message %></p>
  <%= booking.user.first_name %>
</div>
</div>
<% end %>
<% else %>
  <p>No bookings to show.</p>
<% end %>
</div>
  </div>
  <br>
</div>
