<div class="container product-detail">
<p class="btn btn-light border"><%= link_to "Back to all", products_path %> </p>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
    <div>
      <h1><%= @product.name %></h1>
      <h3 id="price"> €<%= @product.price %> / day </h3>
      <h3><%= @product.description %></h3>

      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, class:"pb-3"%>
      <% end %>
    </div>
    </div>

    <div class="col-12 col-lg-4 align-items-center">
    <h3 class="bg-black text-white p-2">Your booking has been confirmed!</h3>
    <p class="btn btn-light border"><%= link_to "Edit skateboard", edit_product_path %> </p>
    <p class="btn btn-light border"><%= link_to "Delete skateboard", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> </p>

    <br>
    <h3>Where am I?</h3>
      <div id="map" style="width: 90%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
 </div>
</div>
