
<div class="container pt-5">
  <h2>Find a board</h2>
    <%= form_with url: products_path, method: :get, class: "d-flex pb-3" do %>
      <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Get skating..."
      %>
      <%= submit_tag "Search", class: "btn btn-dark" %>
    <% end %>
    <div class="list">
      <%= link_to "Back to home", root_path%>
      <%= link_to "Rent out your board", new_product_path %>
    </div>


  <h4 class="pt-3">Rent out a skateboard!</h4>

  <div class="card-container">
    <div class="cards">

    <% @products.each do |product|%>
      <div class="card">
      <% if product.photo.attached? %>
        <%= cl_image_tag product.photo.key, :radius => 10, class:"img" %>
        <% else %>
        <%= image_tag "landing_page.jpeg", :radius => 10, class: "img"%>
      <% end %>
        <%= link_to product.name, product_path(product), class: "overlay"%>
      </div>
      <% end %>
    </div>
<br>
    <div id="map" style="width: 60%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <br>


</div>
</div>
