<div class="container product-detail">
<p class="btn btn-light border"><%= link_to "Back to all", products_path %> </p>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
    <div>
      <h1><%= @name %></h1>
      <h3 id="price"> €<%= @price %> / day </h3>
      <h3><%= @description %></h3>
      <p> Owner: <%= @user.first_name %> <%= @user.last_name %></p>
      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, height: 400 %>
      <% end %>
    </div>
    </div>

    <div class="col-12 col-lg-4 align-items-center">
    <%= render 'bookings/form'%>
    <br>
    <h3>The location of  <%= @name %></h3>
    MAP PLACEHOLDER
    </div>
  </div>
</div>
</div>
