<p> <%= link_to "back", products_path %> </p>
<h1><%= @name %></h1>
<h3><%= @description %></h3>
<p> Owner: <%= @user.first_name %> <%= @user.last_name %></p>

<p><%= link_to "book", new_booking_path %></p>
