<p class="btn btn-light border margin-top"><%= link_to "Back to all", products_path %> </p>
<div class="container product-detail">
      <h1><%= @name %></h1>
      <p>Description: <%= @description %></p>
      <p> Owner: <%= @user.first_name %> <%= @user.last_name %></p>

  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
    <div class="image-skate">
      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key%>
      <% end %>
      <div class="price-block">
        <h3 id="price"> €<%= @price %> / day </h3>
      </div>
    </div>
    </div>
    <div class="col-12 col-lg-4 align-items-center">
      <%= render 'bookings/form'%>
      <p class="btn btn-light border"><%= link_to "Edit skateboard", edit_product_path %> </p>
      <p class="btn btn-light border"><%= link_to "Delete skateboard", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> </p>
    </div>
    <h3>Where am I?</h3>
      <div id="map" style="width: 90%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
  </div>
 </div>
</div>
