<div class="container product-detail">
<p class="btn btn-light border"><%= link_to "Back to all", products_path %> </p>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
    <div>
      <h1><%= @name %></h1>
      <h3 id="price"> €<%= @price %> / day </h3>
      <h3><%= @description %></h3>
      <p> Owner: <%= @user.first_name %> <%= @user.last_name %></p>

      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, height: 400 %>
      <% end %>
    </div>
    </div>

    <div class="col-12 col-lg-4 align-items-center">
    <p class="btn btn-light border"><%= link_to "Edit skateboard", edit_product_path %> </p>
    <%= render 'bookings/form'%>
    <br>
    <h3>Where am I?</h3>
      <div id="map" style="width: 90%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
 </div>
</div>
