<div class="show-background">
<div class="product-title">
<div class="back"><%= link_to "Back to all", products_path %> </p></div>
      <h1><%= @name %></h1>
      <h3>Description: <%= @description %></h3>
      <% if @user == current_user %>
      <p> This is your skateboard! </p>
      <% else %>
      <p> Owner: <%= @user.first_name %> <%= @user.last_name %></p>
      <% end %>
</div>
<div class="pt-3">
<div class="container product-detail">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
    <div class="image-skate">
      <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, class:"pb-3" %>
      <% end %>
      <div class="price-block">
        <h3 id="price"> €<%= @price %> / day </h3>
      </div>
    </div>
    </div>
    <div class="col-12 col-lg-4 align-items-center form">
      <% if @user == current_user %>
      <p class="user-link"><%= link_to "Edit this listing", edit_product_path %> </p>
      <p class="user-link"><%= link_to "Delete this listing", product_path(@product), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> </p>
      <% else %>
      <%= render 'bookings/form'%>
      <% end %>
    </div>
  </div>
</div>
<div class="map">
    <h2>Where am I?</h2>
      <div id="map" style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
      </div>
</div>

  </div>
</div>
