<p> <%= link_to "Back", products_path %> </p>
<h1><%= @name %></h1>
<h3><%= @description %></h3>
<p> Owner: <%= @user.first_name %> <%= @user.last_name %></p>
<%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>

<p><%= link_to "book", new_product_booking_path(@product) %></p>
